.leftMeun{
  overflow-y: auto;
}
.logoInfo{
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}
.logoInfo .logoImg{
  margin:  auto 5px;
  text-align: center;
}
.logoInfo .logoIntroduce{
  margin-top: 100px;
  text-align: center;
  line-height: 10px;
}
#rightContent #user .col-xs-1 {
  text-overflow:ellipsis;
}
#wrap #user .user-info{
  overflow-y: auto;
  margin-top: 30px;
  margin-bottom: 0px;
}


